@model IEnumerable<InspectSystem.Models.ClassesOfAreas>

@Scripts.Render("~/bundles//jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/InspectDocTempView.js"></script>
<script src="~/Scripts/ScrollToTop.js"></script>
<link rel="stylesheet" href="~/Content/MyStyleForDocDetail.css">

@{
    ViewBag.Title = "詳細內容";
}

<h3 style="font-weight: bold">@ViewBag.AreaName</h3>
<hr />
    <div class="container" style="padding-top: 20px">
        <a class="btn btn-primary" href="@Url.Action("Index", new { areaID = ViewBag.AreaID })">回到編輯畫面</a>
    </div>
<hr />

<div class="container">
    <div class="tab">
        @foreach (var item in Model)
        {
            <button class="tablinks" onclick="openClassContent(event, '@item.ACID', '@ViewBag.DocID')" id="@item.ClassID">
                @item.InspectClasses.ClassName
                @if (item.CountErrors != 0)
                {
                    <span class="circle">@item.CountErrors</span>
                }
            </button>
        }
        <!-- Trigger the flowDoc modal with a button -->
        <button class="tablinks" data-toggle="modal" data-target="#flowDocModal" id="flowDocBtn" style="margin-top: 50px">簽核作業</button>
    </div>

    <div class="tabcontent" id="tabContent">
    </div>
</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#loadingModal" style="display:none" id="loadingBtn"></button>
    <!-- Loading Modal -->
    <div class="modal fade" id="loadingModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <!-- Loading image for Ajax. -->
                    <div id="loadingIMG" style="text-align: center">
                        <img src="~/Content/ajax-loader.gif" />資料讀取中，請稍後。
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Flow Doc Modal -->
    <div class="modal fade" id="flowDocModal">
        <div class="modal-dialog model-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("FlowDocEdit", new { docID = ViewBag.DocID })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉視窗</button>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="goToTopBtn" title="Go to top">回頁首</button>
