@model IEnumerable<InspectSystem.Models.DEquipment.DEInspectCycle>

@{
    ViewBag.Title = "週期列表";
}

<h3>
    <b>週期列表</b>
</h3>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">新增週期</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CycleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th>
            功能
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CycleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RtpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rtt)
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.CycleId })">週期名稱編輯</a>
            </td>
        </tr>
    }

</table>
