@model IEnumerable<InspectSystem.Models.InspectAreas>

@{
    ViewBag.Title = "區域列表";
}

<h2><b>區域列表</b></h2>

<a class="btn btn-primary" href="@Url.Action("Create")">新增區域</a><br />
<br />

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AreaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaName)
        </td>
        <th>
            @if (item.Status == "Y")
            {
                @Html.Raw("開啟")
            }
            else
            {
                @Html.Raw("關閉")
            }
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Rtp)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Rtt)
        </th>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.AreaId }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
