@model InspectSystem.Models.InspectDocDetailTemp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InspectDocDetailTemp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectDocs.EngName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectDocs.EngName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitOfData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFunctional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFunctional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairDocId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairDocId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropDownItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropDownItems)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
