@model LogOnModel

@using InspectSystem.Models
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "登入";
}

<link rel="stylesheet" href="~/Content/signin.css" />
<style>
    /* Style the scale of checkbox. */
    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FireFox */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
</style>

<div id="loginForm">
    @using (Html.BeginForm("LogOn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <img class="mb-4" src="~/Content/Images/YMUH_Logo.png"/>
        <h1 class="h3 mb-3 font-weight-normal">@ViewBag.Title</h1>
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*@Html.LabelFor(m => m.UserName, new { @class = "control-label" })*@
        <div>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "使用者帳號", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>

        @*@Html.LabelFor(m => m.Password, new { @class = "control-label" })*@
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "密碼" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <div>
                【登入帳號/密碼同ERP系統】
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="登入" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var errmsg = '@ViewBag.Timeout'
            //console.log(errmsg); //For Debug
            if (errmsg != "") {
                alert(errmsg);
            }
        });
    </script>
}