@model IEnumerable<InspectSystem.Models.InspectDocs>
@{
    ViewBag.Title = "工程師審核頁面";

    if (TempData["SendMsg"] != null)
    {
        <script>
            var message = @Html.Raw(Json.Encode(TempData["SendMsg"]));
            alert(message);
        </script>
    }
}

<style>
    table caption {
        font-weight: bold;
        font-size: 150%;
    }
</style>

<h2>
    <b>工程師審核頁面</b>
</h2>
<table class="table">
    <caption>審核退回</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InspectAreas.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectFlowStatusTable.FlowStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckerName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.FlowStatusID == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectAreas.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectFlowStatusTable.FlowStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckerName)
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("DocDetails", "InspectDocEdit", new { docID = item.DocID })">詳細內容</a>
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    <caption>尚未送出</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InspectAreas.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectFlowStatusTable.FlowStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckerName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.FlowStatusID == 3)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectAreas.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectFlowStatusTable.FlowStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckerName)
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Index", "InspectDocResend", new { docID = item.DocID })">詳細內容</a>
                </td>
            </tr>
        }
    }
</table>