@model InspectSystem.Models.InspectDocDetailsViewModels

@{
    ViewBag.Title = "ViewOfUPS";
}

<style>
    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }
</style>

<h3 style="font-weight: bold; padding-left: 10px">@ViewBag.ClassName</h3>
<hr />
    @{
        var currentItemName = "0";
        int i = 0;
    } 
    <div class="container col-md-12">
        <table class="table-bordered">
            <tr>
                <th>
                    <p>編號(容量)</p>
                </th>
                <th>
                    <p>容量%</p>
                </th>
                <th>
                    <p>IR</p>
                </th>
                <th>
                    <p>IS</p>
                </th>
                <th>
                    <p>IT</p>
                </th>
                <th>
                    <p>機房溫度</p>
                </th>
                <th>
                    <p>是否正常</p>
                </th>
                <th>
                    <p>錯誤描述</p>
                </th>
            </tr>
            @foreach (var item in Model.InspectItems)
            {
                /* Display the ItemName when ItemName is not the same. */
                if (item.ItemName != currentItemName)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        @{
                            int countFields = 0;
                        }
                        @foreach (var fieldItem in Model.InspectFields)
                        {
                            /* Display all the FieldName belong the current Item. */
                            if (item.ItemID == fieldItem.ItemID)
                            {
                                foreach (var docItem in Model.InspectDocDetails)
                                {
                                    /* Display textbox or checkbox for all fields. */
                                    if (docItem.ItemID == item.ItemID && docItem.FieldID == fieldItem.FieldID)
                                    {
                                        countFields = countFields + 1;
                                        switch (fieldItem.DataType)
                                        {
                                            case "string":
                                                <td>
                                                    @Html.DisplayFor(modelItem => docItem.Value)
                                                </td>
                                                break;

                                            case "float":
                                                <td>
                                                    @Html.DisplayFor(modelItem => docItem.Value)
                                                    @Html.DisplayFor(modelItem => fieldItem.UnitOfData)
                                                </td>
                                                break;

                                            case "null":
                                                <td></td>
                                                break;

                                            case "boolean":
                                                /* If there is no temperature field,jump over a field. */
                                                if (countFields == 5)
                                                {
                                                    <td></td>
                                                }
                                                <td>
                                                    @if (docItem.IsFunctional == true)
                                                    {
                                                        <p>正常</p>
                                                    }
                                                    else if (docItem.IsFunctional == false)
                                                    {
                                                        <p style="color: red;font-weight: bold">不正常</p>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => docItem.ErrorDescription)
                                                </td>
                                                break;
                                        }
                                    }
                                }
                                i++;
                            }
                        }
                    </tr>
                }
                else
                {
                    currentItemName = item.ItemName;
                }
            }
        </table>
        <hr />
    </div>
