@model InspectSystem.Models.DEquipment.DEInspectField

<script src="~/Scripts/Inspect/InspectField.js"></script>

@{ 
    var rowCardNo = "rowCardNo" + ViewBag.ItemOrder;
}

<style>
    /* Style the scale of checkbox. */
    input[type=checkbox], input[type=radio] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
</style>

<script>
    $(document).ready(function () {

        $("#FieldName").focus();
        /* When submit, close the modal. */
        $("#submitBtnEdit").click(function () {
            $('#btnCloseModal').trigger('click');
        });
    });
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欄位編輯</title>
</head>
<body>

    @using (Ajax.BeginForm("Create", new AjaxOptions
    { 
        HttpMethod = "POST", 
        UpdateTargetId = rowCardNo,
        OnSuccess = "$('#btnCloseModal').trigger('click');"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.CycleId)
            @Html.HiddenFor(model => model.ClassId)
            @Html.HiddenFor(model => model.ItemId)

            <div class="form-group row">
                @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    <p style="margin-top : 7px">@ViewBag.ItemName</p>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FieldName, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FieldName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FieldName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DataType, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10" style="margin-top : 7px">
                    @Html.RadioButtonFor(model => model.DataType, "string", new { @checked = "checked" }) 字串
                    @Html.RadioButtonFor(model => model.DataType, "description") 描述性文字
                    @Html.RadioButtonFor(model => model.DataType, "float") 數字
                    @Html.RadioButtonFor(model => model.DataType, "checkbox") 勾選方塊
                    @Html.RadioButtonFor(model => model.DataType, "dropdownlist") 下拉選單
                    @Html.RadioButtonFor(model => model.DataType, "boolean") 該項目(合格/不合格/已改善/未開機/不適用)
                    @Html.ValidationMessageFor(model => model.DataType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="content-group">
                <div class="form-group row">
                    @Html.LabelFor(model => model.FieldDescription, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FieldDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FieldDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.UnitOfData, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UnitOfData, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UnitOfData, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MinValue, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MinValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MinValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MaxValue, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaxValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaxValue, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <!--for datatype dropdownlist, and dynamic inset textbox.-->
                <div class="card bg-light offset-md-2 col-md-10 textbox-group" role="form">
                    <div class="card-body">
                        <div class="row" id="TextBoxesGroup">
                            <div class="col-md-10">
                                <div id="TextBoxScope1" class="form-group">
                                    <label>選項 #1 : </label>
                                    <input type="text" id='textbox1' name="textbox1" class="form-control">
                                </div>
                            </div>
                        </div>

                        <hr />
                        @Html.Hidden("TextBoxCount", 1)
                        <div class="row col-md-10">
                            <button type="button" class="btn btn-primary" id="addButton">增加選項</button>
                            <span>&nbsp;</span>
                            <button type="button" class="btn btn-info" id="removeButton">移除選項</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FieldStatus, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10" style="margin-top : 7px">
                    @Html.CheckBoxFor(model => model.FieldStatus)
                    @Html.ValidationMessageFor(model => model.FieldStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IsRequired, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10" style="margin-top : 7px">
                    @Html.CheckBoxFor(model => model.IsRequired)
                    @Html.ValidationMessageFor(model => model.IsRequired, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="offset-md-2">
                    <input type="submit" value="新增" class="btn btn-primary" id="submitBtnEdit" />
                </div>
            </div>

            <div class="offset-md-2">
                <p style="color : red">無須設定大小值時，請將數值設定為0。</p>
                <p style="color : red">每個項目只可設定一個【該項目(正常/不正常)】的欄位，且不需輸入欄位名稱。</p>
            </div>

        </div>
    }
</body>
</html>
