@model IEnumerable<InspectSystem.Models.InspectField>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InspectItem.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowPastValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InspectItem.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowPastValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rtp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rtt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
