@model IEnumerable<InspectSystem.Models.ShiftsInAreas>

@{
    ViewBag.Title = "班別區域對應列表";
}

<h3>
    <b>班別區域對應列表</b>
</h3>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">新增班別對應區域</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InspectArea.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectShift.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th>
            功能
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectArea.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectShift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RtpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rtt)
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Edit", new { areaId = item.AreaId, shiftId = item.ShiftId })">編輯</a>
            </td>
        </tr>
    }

</table>
