@model InspectSystem.Models.DEquipment.DEInspectDoc

<div>
    <h3 style="margin-top:0.5em">案件資訊</h3>
    <hr />
    <div class="container">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DocId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AreaId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AreaName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CycleId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CycleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClassName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplyDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CloseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CloseDate)
            </dd>

        </dl>
    </div>
    
</div>
