@model InspectSystem.Models.DEquipment.DEInspectClassVModel

@{
    ViewBag.Title = "編輯";
}

<script src="~/Scripts/ScrollToTop.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/MyStyles/MyDocEditStyle.css" />

<div class="container">
    <h3>
        @ViewBag.Header
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#precautionModal">注意事項</button>
    </h3>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#docDetail" id="docDetailTab">表單內容</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#inspectDoc" id="inspectDocTab">案件資訊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#flowList" id="flowListTab">流程資訊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nextflow" id="nextFlowTab">簽核作業</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="docDetail" class="container tab-pane fade show active">
            @*@Html.Action("Edit", "DEInspectDocDetailTemp", new { docId = Model.DocId })*@
        </div>
        <div id="inspectDoc" class="container tab-pane fade">
            @Html.Action("Details", "DEInspectDoc", new { id = Model.DocId })
        </div>
        <div id="flowList" class="container tab-pane fade">
            @Html.Action("FlowList", "DEInspectDocFlow", new { docId = Model.DocId })
        </div>
        <div id="nextflow" class="container tab-pane fade">
            @Html.Action("NextFlow", "DEInspectDocFlow", new { docId = Model.DocId })
        </div>
    </div>
</div>

<button onclick="topFunction()" id="goToTopBtn" title="Go to top">回頁首</button>

<!--Modal for precautions of area.-->
<div class="modal fade" id="precautionModal" tabindex="-1" role="dialog" aria-labelledby="precautionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h2 class="modal-title">注意事項</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AreaPrecautions", "DEInspectPrecautions", new { Area = "Admin", areaId = Model.AreaId })
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
