@model IEnumerable<InspectSystem.Models.InspectItem>

<style>
    /* The canel button and message for sorting (Hidden by Default) */
    #sortBtnCanel, #sortMsg {
        display: none;
    }
    /* The fields of items (Hidden by Default) */
    .fieldCards {
        display: none;
    }
</style>

<p>
    <a class="btn btn-primary" id="createBtn" href="@Url.Action("Create", new { areaId = ViewData["AId"], shiftId = ViewData["SId"], classId = ViewData["CId"] })">新增項目</a>
    <button class="btn btn-primary" id="sortBtn">排序</button>
    <button class="btn btn-info" id="sortBtnCanel">取消排序</button>
</p>

<table class="table table-hover" id="editTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectClass.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtt)
            </th>
            <th>功能</th>
        </tr>
    </thead>

    <tbody id="sortItem">
        @{
            int row = 1;
        }
        @foreach (var item in Model)
        {
            string rowFieldNo = "rowFieldNo" + row;
            string rowCardNo = "rowCardNo" + row;
            <tr>
                @Html.HiddenFor(modelItem => item.AreaId)
                @Html.HiddenFor(modelItem => item.ShiftId)
                @Html.HiddenFor(modelItem => item.ClassId)
                @Html.HiddenFor(modelItem => item.ItemId)
                <td style="max-width: 160px;">
                    @Html.DisplayFor(modelItem => item.InspectClass.ClassName)
                </td>
                <td style="max-width: 230px;">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RtpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>
                <td>
                    @if (item.IsReport != "Y")
                    {
                        <a class="btn btn-primary editBtn" href="@Url.Action("Edit", new { areaId = item.AreaId, shiftId = item.ShiftId, classId = item.ClassId, itemId = item.ItemId })">編輯</a>
                    }
                    <button class="btn btn-primary fieldBtn" value="@row">欄位</button>
                </td>
            </tr>
            <tr>
                <td colspan=7 class="fieldCards @rowFieldNo">
                    <div class="card fieldCards @rowFieldNo">
                        <div class="card-header bg-info">欄位</div>
                        <div class="card-body">
                            <div class="" id="@rowCardNo"></div>
                        </div>
                    </div>
                </td>
            </tr>
            row++;
        }
    </tbody>

</table>

<div>
    <p style="color: red" id="sortMsg">*拖曳項目以排序</p>
</div>


<div class="modal fade" id="fieldModal" tabindex="-1" role="dialog" aria-labelledby="fieldModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="fieldModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="fieldModalBody">
 
            </div>
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModal">關閉</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () {
        var getFieldURL = '@Url.Action("GetFieldList", "InspectField", new { Area = "Admin" })';
        var setOrderURL = '@Url.Action("SetItemOrder", "InspectItem", new { Area = "Admin" })';
        $("#sortBtn").click(function () {
            $('.fieldCards').slideUp(100);
            /* When sorting items, disable other buttons, <a> add disabled class, <button> add disabled attr */
            $("#createBtn").addClass("disabled");
            $("#sortBtn").attr("disabled", true);
            $(".editBtn").addClass("disabled");
            $(".fieldBtn").attr("disabled", true);

            $("#sortBtnCanel").show();
            $("#sortMsg").show();

            /* enable item sorting. */
            $("#sortItem").sortable({
                opacity: 0.6,
                cursor: 'move',
                axis: 'y',
                start: function (event, ui) {
                    var start_pos = ui.item.index();
                    if (start_pos != 0) {   //去除hidden的tr
                        start_pos = start_pos - (parseInt(start_pos / 2) * 1);
                    }
                    //console.log("start_pos:" + start_pos); //For debug
                    ui.item.data('start_pos', start_pos);
                },
                update: function (event, ui) {
                    var oldIndex = ui.item.data('start_pos');
                    console.log("old:" + oldIndex); //For debug
                    var newIndex = ui.item.index();
                    if (newIndex != 0) {   //去除hidden的tr
                        newIndex = newIndex - (parseInt(newIndex / 2) * 1);
                    }
                    //console.log("new:" + newIndex); //For debug
                    $.ajax({
                        type: 'POST',
                        url: setOrderURL,
                        data: {
                            oldIndex: oldIndex + 1,
                            newIndex: newIndex + 1,
                            areaId: @ViewData["AId"],
                            shiftId: @ViewData["SId"],
                            classId: @ViewData["CId"],
                        },
                        success: function (result) {
                            $('#pnlItem').html(result);
                        },
                        error: function (msg) {
                            alert(msg);
                        }
                    });
                }
            });
            $("#editTable").disableSelection();
        });

        $("#sortBtnCanel").click(function () {
            $("#createBtn").removeClass('disabled');
            $("#sortBtn").attr("disabled", false);
            $(".editBtn").removeClass('disabled');
            $(".fieldBtn").attr("disabled", false);
            $("#sortBtnCanel").hide();
            $("#sortMsg").hide();
        });

        $(".fieldBtn").click(function () {
            var areaId = $(this).parent().parent().children("input[name='item.AreaId']").val();
            var shiftId = $(this).parent().parent().children("input[name='item.ShiftId']").val();
            var classId = $(this).parent().parent().children("input[name='item.ClassId']").val();
            var itemId = $(this).parent().parent().children("input[name='item.ItemId']").val();
            var number = $(this).attr("value");

            /*Get the search result of fields*/
            $.ajax({
                type: "GET",
                url: getFieldURL,
                data: { AreaId: areaId, ShiftId: shiftId, ClassId: classId, ItemId: itemId},
                success: function (result) {
                    $(".rowFieldNo").not("#rowCardNo" + number).html("<p></p>");
                    $("#rowCardNo" + number).html(result);
                },
                error: function (msg) {
                    alert(msg);
                }
            });
            /* Control all the slide cards */
            $('.fieldCards').not('.rowFieldNo' + number).slideUp(500);
            $('.rowFieldNo' + number).slideToggle(500);
        });
    });
</script>