@model InspectSystem.Models.InspectDocDetailsViewModels

<script src="~/Scripts/ClassContentOfAreaDocEdit.js"></script>
<script src="~/Scripts/Mobile/CheckErrorDescription.js"></script>
<link rel="stylesheet" href="~/Content/MyStyleForClassContentOfArea.css" />

@{
    ViewBag.Title = "ClassContentOfArea";
    var DocItems = ViewBag.itemsByDocDetails as List<InspectSystem.Models.InspectDocDetails>;
    var DocFields = ViewBag.fieldsByDocDetails as List<InspectSystem.Models.InspectDocDetails>;
}

<h3>@ViewBag.ClassName</h3>
<hr />
@using (Html.BeginForm("SaveData", "InspectDocEdit", FormMethod.Post, new { id = "detailsForm" }))
{
    @Html.AntiForgeryToken()

    var currentItemName = "0";
    int i = 0, j = 0;
    <div class="container col-md-12">
        @foreach (var item in DocItems)
        {
            /* Display the ItemName when ItemName is not the same. */
            if (item.ItemName != currentItemName)
            {
                <div class="row itemRow">
                    <div class="col-md-2 itemName mainCol">
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </div>
                    <div class="col-md-6 mainCol">
                        @foreach (var fieldItem in DocFields)
                        {
                            /* Display all the FieldName belong the current Item. */
                            if (item.ItemID == fieldItem.ItemID)
                            {
                                <div class="col-md clearfix">
                                    <span class="col-xs-3 fieldTitle">
                                        @if (fieldItem.FieldName != null)
                                        {
                                            @Html.DisplayFor(modelItem => fieldItem.FieldName)
                                        }
                                    </span>

                                    @foreach (var docItem in Model.InspectDocDetails)
                                    {
                                        /* Display textbox or checkbox for all fields, except boolean type. */
                                        if (docItem.ItemID == item.ItemID && docItem.FieldID == fieldItem.FieldID &&
                                            fieldItem.DataType != "boolean")
                                        {
                                            @Html.Hidden("InspectDocDetails[" + i + "].DocID", docItem.DocID, new { id = "InspectDocDetails[" + i + "].DocID" })
                                            @Html.Hidden("InspectDocDetails[" + i + "].AreaID", docItem.AreaID, new { id = "InspectDocDetails[" + i + "].AreaID" })
                                            @Html.Hidden("InspectDocDetails[" + i + "].AreaName", docItem.AreaName)
                                            @Html.Hidden("InspectDocDetails[" + i + "].ClassID", docItem.ClassID, new { id = "InspectDocDetails[" + i + "].ClassID" })
                                            @Html.Hidden("InspectDocDetails[" + i + "].ClassName", docItem.ClassName)
                                            @Html.Hidden("InspectDocDetails[" + i + "].ItemID", docItem.ItemID, new { id = "InspectDocDetails[" + i + "].ItemID" })
                                            @Html.Hidden("InspectDocDetails[" + i + "].ItemName", docItem.ItemName)
                                            @Html.Hidden("InspectDocDetails[" + i + "].FieldID", docItem.FieldID, new { id = "InspectDocDetails[" + i + "].FieldID" })
                                            @Html.Hidden("InspectDocDetails[" + i + "].FieldName", docItem.FieldName)
                                            @Html.Hidden("InspectDocDetails[" + i + "].UnitOfData", docItem.UnitOfData)
                                            @Html.Hidden("InspectDocDetails[" + i + "].IsFunctional", docItem.IsFunctional)
                                            @Html.Hidden("InspectDocDetails[" + i + "].ItemOrder", docItem.ItemOrder)
                                            @Html.Hidden("InspectDocDetails[" + i + "].DataType", docItem.DataType)
                                            @Html.Hidden("InspectDocDetails[" + i + "].MinValue", docItem.MinValue)
                                            @Html.Hidden("InspectDocDetails[" + i + "].MaxValue", docItem.MaxValue)
                                            @Html.Hidden("InspectDocDetails[" + i + "].IsRequired", docItem.IsRequired)
                                            @Html.Hidden("InspectDocDetails[" + i + "].DropDownItems", docItem.DropDownItems)

                                            switch (fieldItem.DataType)
                                            {
                                                case "string":
                                                    <span>
                                                        @Html.EditorFor(modelItem => docItem.Value, new { htmlAttributes = new { @Name = "InspectDocDetails[" + i + "].Value" } })
                                                        @Html.ValidationMessage("InspectDocDetails[" + i + "].Value", "", new { @class = "text-danger" })
                                                    </span>
                                                    break;

                                                case "float":
                                                    <span>
                                                        @Html.EditorFor(modelItem => docItem.Value, new { htmlAttributes = new { @Name = "InspectDocDetails[" + i + "].Value", @class = "inputValue", id = i, type = "number", step = "0.0001" } })
                                                        @Html.DisplayFor(modelItem => fieldItem.UnitOfData)
                                                        @Html.ValidationMessage("InspectDocDetails[" + i + "].Value", "", new { @class = "text-danger" })
                                                        <br /><span class="@i col-xs-offset-3"></span>
                                                        @if (fieldItem.ToShowPastValue() == true)
                                                        {
                                                            <span>昨日數值 : @fieldItem.PastValue()</span>
                                                        }
                                                    </span>
                                                    break;

                                                case "checkbox":
                                                    <span>
                                                        @if (docItem.Value == "true")
                                                        {
                                                            @Html.CheckBox("InspectDocDetails[" + i + "].Value", true)
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox("InspectDocDetails[" + i + "].Value", false)
                                                        }
                                                    </span>
                                                    break;

                                                case "dropdownlist":
                                                    char[] charSpilt = new char[] { ';' };
                                                    string[] dropDownSpilt = docItem.DropDownItems.Split(charSpilt, StringSplitOptions.RemoveEmptyEntries);
                                                    List<SelectListItem> dropDownList = new List<SelectListItem>();
                                                    foreach (var searchItem in dropDownSpilt)
                                                    {
                                                        if (searchItem == docItem.Value)
                                                        {
                                                            dropDownList.Add(new SelectListItem()
                                                            {
                                                                Text = searchItem,
                                                                Value = searchItem,
                                                                Selected = true
                                                            });
                                                        }
                                                        else
                                                        {
                                                            dropDownList.Add(new SelectListItem()
                                                            {
                                                                Text = searchItem,
                                                                Value = searchItem
                                                            });
                                                        }
                                                    }
                                                    <span>
                                                        @Html.DropDownList("InspectDocDetails[" + i + "].Value", (IEnumerable<SelectListItem>)dropDownList, new { @class = "form-control", style = "width: 50%" })
                                                    </span>
                                                    break;
                                            }
                                            i++;
                                        }
                                        else if (docItem.ItemID == item.ItemID && docItem.FieldID == fieldItem.FieldID &&
                                                 fieldItem.DataType == "boolean")
                                        {
                                            i++; // Skip an array space to let the boolean type insert later.
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-4">
                        @foreach (var fieldItem in DocFields)
                        {
                            /* Display all the FieldName belong the current Item. */
                            if (item.ItemID == fieldItem.ItemID)
                            {

                                foreach (var docItem in Model.InspectDocDetails)
                                {
                                    /* Display textbox or checkbox for all fields. */
                                    if (docItem.ItemID == item.ItemID && docItem.FieldID == fieldItem.FieldID)
                                    {
                                        if (fieldItem.DataType == "boolean")
                                        {
                                            @Html.Hidden("InspectDocDetails[" + j + "].DocID", docItem.DocID, new { id = "InspectDocDetails[" + i + "].DocID" })
                                            @Html.Hidden("InspectDocDetails[" + j + "].AreaID", docItem.AreaID, new { id = "InspectDocDetails[" + j + "].AreaID" })
                                            @Html.Hidden("InspectDocDetails[" + j + "].AreaName", docItem.AreaName)
                                            @Html.Hidden("InspectDocDetails[" + j + "].ClassID", docItem.ClassID, new { id = "InspectDocDetails[" + j + "].ClassID" })
                                            @Html.Hidden("InspectDocDetails[" + j + "].ClassName", docItem.ClassName)
                                            @Html.Hidden("InspectDocDetails[" + j + "].ItemID", docItem.ItemID, new { id = "InspectDocDetails[" + j + "].ItemID" })
                                            @Html.Hidden("InspectDocDetails[" + j + "].ItemName", docItem.ItemName)
                                            @Html.Hidden("InspectDocDetails[" + j + "].FieldID", docItem.FieldID, new { id = "InspectDocDetails[" + j + "].FieldID" })
                                            @Html.Hidden("InspectDocDetails[" + j + "].FieldName", docItem.FieldName)
                                            @Html.Hidden("InspectDocDetails[" + j + "].UnitOfData", docItem.UnitOfData)
                                            @Html.Hidden("InspectDocDetails[" + j + "].ItemOrder", docItem.ItemOrder)
                                            @Html.Hidden("InspectDocDetails[" + j + "].DataType", docItem.DataType)
                                            @Html.Hidden("InspectDocDetails[" + j + "].MinValue", docItem.MinValue)
                                            @Html.Hidden("InspectDocDetails[" + j + "].MaxValue", docItem.MaxValue)
                                            @Html.Hidden("InspectDocDetails[" + j + "].IsRequired", docItem.IsRequired)
                                            @Html.Hidden("InspectDocDetails[" + j + "].DropDownItems", docItem.DropDownItems)
                                            <div class="col radioBtn">
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "y", new { @Name = "InspectDocDetails[" + j + "].IsFunctional" })正常
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "n", new { @Name = "InspectDocDetails[" + j + "].IsFunctional" })不正常
                                                @Html.ValidationMessage("InspectDocDetails[" + j + "].IsFunctional", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                @Html.LabelFor(modelItem => docItem.ErrorDescription)
                                                <br />
                                                @Html.TextAreaFor(modelItem => docItem.ErrorDescription, new { @Name = "InspectDocDetails[" + j + "].ErrorDescription", rows = "3", id = "InspectDocDetails[" + j + "].ErrorDescription" })
                                            </div>
                                        }
                                        j++;
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <hr />
            }
            else
            {
                currentItemName = item.ItemName;
            }
            int countFields = DocFields.Count();
            <input type="hidden" id="countFields" value="@countFields" />
        }
        <div>
            <input class="btn btn-primary" type="submit" value="儲存修改資料" />
        </div>
        <hr />
    </div>
}

