<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  巡檢系統</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <style>
        .setHeaderStyle {
            color: blue;
            font-weight: bold;
        }

        .navbar-layout-content {
            font-size: 15px;
        }

        .layout-dropdown-menu > a:hover,
        .layout-dropdown-menu > a:focus {
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMain01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("巡檢系統", "Index2", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarTogglerMain01">
                <ul class="nav navbar-nav navbar-layout-content mr-auto">
                    <li class="nav-item">@Html.ActionLink("個人首頁", "Index2", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新增表單
                        </a>
                        <div class="dropdown-menu layout-dropdown-menu">
                            @Html.ActionLink("巡檢表單", "Create", "InspectDocIdTable", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "InspectDocSearch")" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            查詢
                        </a>
                        <div class="dropdown-menu layout-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("巡檢表單查詢", "InspectDocIndex", "Search", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("欄位數值查詢", "Index", "SearchDocDetail", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownAdminMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                後台維護功能
                            </a>
                            <div class="dropdown-menu layout-dropdown-menu" aria-labelledby="dropdownAdminMenuLink">
                                <h6 class="dropdown-header setHeaderStyle">表單維護</h6>
                                @Html.ActionLink("巡檢區域維護", "Index", "InspectArea", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("巡檢班別維護", "Index", "InspectShift", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("班別區域對應維護", "Index", "ShiftsInAreas", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("巡檢類別維護", "Index", "InspectClass", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("巡檢項目維護", "Index", "InspectItem", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("注意事項維護", "Index", "InspectPrecaution", new { area = "Admin" }, new { @class = "dropdown-item" })
                                @*<div class="dropdown-divider"></div>
                                <h6 class="dropdown-header setHeaderStyle">人員維護</h6>
                                @Html.ActionLink("巡檢人員列表", "Index", "InspectMembers", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("各區審核主管維護", "Index", "InspectAreaCheckers", new { area = "" }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header setHeaderStyle">文件維護</h6>
                                @Html.ActionLink("巡檢文件編輯", "Index", "InspectDocs", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("新增巡檢文件", "Create", "InspectDocs", new { area = "" }, new { @class = "dropdown-item" })*@
                            </div>
                        </li>
                    }
                </ul>

                <div class="mr-sm-2">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:1.2em">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.AddHours(08) - 巡檢系統</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("200");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("200");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
</body>
</html>
