<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  巡檢系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/MyMegaDropDownStyle.css" />

    <style>
        .navbar-layout-content {
            font-size: 15px;
        }

        .layout-dropdown-menu {
            background-color: #222;
        }

        .layout-dropdown-menu  > li > a {
            color: #9d9d9d;
            padding: 7px 15px;
            font-size: 16px;
        }

        .layout-dropdown-menu  > li > a:hover,
        .layout-dropdown-menu  > li > a:focus {
            color: #ffffff;
            background-color: #ff0000;
        }
        #pnlLOGIN > a {
            color: red !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMain01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("巡檢系統", "DocListForChecker", "InspectDocChecker", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarTogglerMain01">
                <ul class="nav navbar-nav navbar-layout-content mr-auto">
                    <li class="nav-item">@Html.ActionLink("巡檢作業", "SelectAreas", "InspectDocDetails", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("工程師審核作業", "DocListForWorker", "InspectDocChecker", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("主管審核作業", "DocListForChecker", "InspectDocChecker", new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "InspectDocSearch")" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            搜尋
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("巡檢表單搜尋", "Index", "InspectDocSearch", new { @class = "dropdown-item" })
                            @Html.ActionLink("欄位數值搜尋", "Index", "InspectDocDtlValSearch", new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            後台維護功能
                            <span class="caret" id="dropdownSymbol"></span>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="col-sm-offset-1 col-sm-3">
                                <ul>
                                    <li class="dropdown-header">表單維護</li>
                                    <li>@Html.ActionLink("巡檢區域維護", "Index", "InspectAreas")</li>
                                    <li>@Html.ActionLink("巡檢類別維護", "Index", "InspectClasses")</li>
                                    <li>@Html.ActionLink("巡檢項目維護", "Index", "InspectItems")</li>
                                    <li>@Html.ActionLink("注意事項維護", "Index", "InspectPrecautions")</li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">人員維護</li>
                                    <li>@Html.ActionLink("巡檢人員列表", "Index", "InspectMembers")</li>
                                    <li>@Html.ActionLink("各區審核主管維護", "Index", "InspectAreaCheckers")</li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">文件維護</li>
                                    <li>@Html.ActionLink("巡檢文件編輯", "Index", "InspectDocs")</li>
                                    <li>@Html.ActionLink("新增巡檢文件", "Create", "InspectDocs")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="mr-sm-2" id="pnlLOGIN">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.AddHours(08) - 巡檢系統</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
</body>
</html>
