@model IEnumerable<InspectSystem.Models.InspectDocIdTable>

@{
    Layout = null;
}

@if (Model.Count() <= 0)
{
    <p style="color:red">查無資料!</p>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                功能
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    @if (item.DocStatusId == "3") //簽核中
                    {
                        @Html.ActionLink("簽核", "Edit", "InspectDocIdTable", new { id = item.DocId }, new { @class = "btn btn-primary" })
                    }
                    else if (item.DocStatusId == "1") //巡檢中
                    {
                        @Html.ActionLink("編輯", "Edit", "InspectDoc", new { id = item.DocId }, new { @class = "btn btn-primary" })

                    }
                    else if (item.DocStatusId == "2") //交班中
                    {
                        @Html.ActionLink("交班", "Edit", "InspectDoc", new { id = item.DocId }, new { @class = "btn btn-primary" })

                    }
                    @Html.ActionLink("預覽", "Views", "InspectDocIdTable", new { id = item.DocId }, new { @class = "btn btn-primary", target = "_blank" })
                </td>
            </tr>
        }

    </table>
}
