@model InspectSystem.Models.InspectDocPrintVModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .style1 {
            width: 100%;
        }

        .style2 {
            width: 100%;
            font-size: 10pt;
        }

        .style3 {
            height: 30px;
            width: 125px;
        }

        .style4 {
            height: 30px;
            width: 75px;
            text-align: center;
        }

        .style5 {
            text-align: center;
            height: 30px;
        }

        .style6 {
            width: 100%;
        }

        .style7 {
            text-align: center;
            height: 100%;
        }

        @@media print {
            Footer {
                display: none !important;
            }
        }
    </style>
</head>
<body style="margin: 0px; font-family: DFKai-SB" @*onload='window.print(); setTimeout(window.close, 500);'*@>
    <div>
        <table class="style1">
            <tr style="font-size:36px;">
                <td>
                    工務室值班交接紀錄表
                </td>
                <td align="right">
                    @{
                        var year = Model.ApplyDate.Year;
                        var month = Model.ApplyDate.Month;
                        var day = Model.ApplyDate.Day;
                        if (Model.ApplyDate.Year != 1)
                        {
                            year = Model.ApplyDate.Year - 1911;
                        }
                    }
                    日期：@year 年 @month 月 @day 日
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="style1">
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="style2"
                           style="border: 4px solid #000000">
                        <!--大夜班-->
                        <tr style="font-size: 2em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                大夜班
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Engineer)
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="25%">
                                @Model.Shift3Engineer
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Checker)
                            </td>
                            <td colspan="4" align="center"
                                style="border-bottom-style: solid; border-bottom-width: 4px; border-right-style: solid; border-right-width: 4px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift3Checker
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                鍋爐用水<br />柴油、液氧存量紀錄
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="18%">
                                            鍋爐水表
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="18%">
                                            鍋爐儲油槽
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="50%">
                                            液氧蒸發器是否結冰：
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="14%">
                                            勾是  請除冰
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="18%">
                                            A
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="18%">
                                            B%
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="64%" colspan="2">
                                            液氧槽： A cm 桶壓: B kg
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                氣體機房檢查
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="50%">
                                            空壓機機房：
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="50%">
                                            真空泵機房：
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="50%">
                                            醫療氣體機房：
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="50%">
                                            氣送機房：
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                鍋爐運轉狀態
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="100%">
                                            <span class="col">1號機</span>
                                            <span class="col"></span>
                                            <span class="col">/</span>
                                            <span class="col">2號機</span>
                                            <span class="col"></span>
                                            <span class="col">/</span>
                                            <span class="col">3號機</span>
                                            <span class="col"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: none; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: none; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left"
                                            width="100%">
                                            (物品清點：手電筒4支 頭燈1組)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 2em; height: 150px;">
                            <td style="font-size: 1.5em; border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Note)
                            </td>
                            <td colspan="7" align="left"
                                style="border-bottom-style: solid; border-bottom-width: 4px; border-right-style: solid; border-right-width: 4px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift3Note
                            </td>
                        </tr>

                        <!--白天班-->
                        <tr style="font-size: 2em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                白天班
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Engineer)
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="25%">
                                @Model.Shift1Engineer
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Checker)
                            </td>
                            <td colspan="4" align="center"
                                style="border-bottom-style: solid; border-bottom-width: 4px; border-right-style: solid; border-right-width: 4px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift1Checker
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                空調主機運轉狀態
                            </td>
                            <td colspan="7">
                                <table style="width: 100%; table-layout:fixed;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-1 200RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>1號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>2號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>Hz</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            溫度設定  °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-2 350RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>1號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>2號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-3 600RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="3">
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>運轉</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-4 600RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="3">
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>運轉</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-5 450RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="3">
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>運轉</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            CH-6 150RT
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>1號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>%</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span>2號機</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            <span></span>
                                            <span>Hz</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            width="15%">
                                            °C
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            冷卻水塔開<br />啟台數
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            <span></span>
                                            <span>台</span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="4">
                                            <span>CT</span>
                                            <span></span>
                                            <span> ~ </span><span>CT</span>
                                            <span></span>
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            (12:00)
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            溫度
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                            濕度
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                            colspan="2">
                                            溫度範圍
                                        </td>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                CO2機房檢查
                            </td>
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left"
                                colspan="7">
                                <span>CO2主機：</span>
                                <span></span>
                            </td>
                        </tr>
                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                水位檢查
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="border-right-style: none; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left">
                                            南側空調補給水塔有無溢水
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-right-style: none; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left">
                                            北側水塔有無溢水
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-right-style: none; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left">
                                            冷卻水塔排水管有無溢水
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 1.3em;">
                            <td style="border-right-style: solid; border-bottom-style: none; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                            </td>
                            <td colspan="7">
                                <table style="width: 100%;">
                                    <tr>
                                        <td class="style5"
                                            style="border-right-style: solid; border-bottom-style: none; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: left"
                                            width="100%">
                                            (物品清點：手電筒4支 頭燈1組)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr style="font-size: 2em; height: 150px;">
                            <td style="font-size: 1.5em; border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Note)
                            </td>
                            <td colspan="7" align="left"
                                style="border-bottom-style: solid; border-bottom-width: 4px; border-right-style: solid; border-right-width: 4px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift1Note
                            </td>
                        </tr>
                        <!--小夜班-->
                        <tr style="font-size: 2em;">
                            <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                小夜班
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Engineer)
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="25%">
                                @Model.Shift2Engineer
                            </td>
                            <td class="style5"
                                style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Checker)
                            </td>
                            <td colspan="4" align="center"
                                style="border-bottom-style: solid; border-bottom-width: 4px; border-right-style: solid; border-right-width: 4px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift2Checker
                            </td>
                        </tr>

                        @if (Model.ShiftDetails2.Count() > 0)
                        {
                            var docClasses = Model.ShiftDetails2.GroupBy(d => d.ClassId).Select(x => x.FirstOrDefault()).ToList();
                            foreach (var docClass in docClasses.OrderBy(d => d.ClassOrder))
                            {
                                <tr style="font-size: 2em;">
                                    <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                        width="15%">
                                        @docClass.ClassName
                                    </td>
                                    <td colspan="7">
                                        <table style="width: 100%;">
                                            @{
                                                var docItems = Model.ShiftDetails2.Where(d => d.ClassId == docClass.ClassId)
                                                                                  .GroupBy(d => d.ItemId).Select(x => x.FirstOrDefault());
                                                foreach (var docItem in docItems.OrderBy(d => d.ItemOrder))
                                                {
                                                    <tr>
                                                        <td class="style5"
                                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                                            width="17%">
                                                            @docItem.ItemName
                                                        </td>
                                                        <td class="style5"
                                                            style="border-right-style: solid; border-bottom-style: solid; border-right-width: 2px; border-bottom-width: 2px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                                            colspan="6">
                                                            <table style="width: 100%; height: 100%; border-collapse: collapse; border-style: hidden;">
                                                                @{
                                                                    var docFields = Model.ShiftDetails2.Where(d => d.ClassId == docItem.ClassId && d.ItemId == docItem.ItemId);
                                                                    int count = 0;
                                                                }
                                                                @foreach (var field in docFields.Where(f => f.DataType != "boolean"))
                                                                {
                                                                    if (count % 4 == 0)
                                                                    {
                                                                        <tr></tr>
                                                                    }
                                                                    if (!string.IsNullOrEmpty(field.FieldName))
                                                                    {
                                                                        <td class="style7"
                                                                            style="border-right-style: solid; border-bottom-style: solid;  border-right-width: 2px; border-bottom-width: 2px;   border-right-color: #000000; border-bottom-color: #000000;  text-align: center">
                                                                            @field.FieldName
                                                                        </td>
                                                                    }
                                                                    <td class="style7"
                                                                        style="border-right-style: solid; border-bottom-style: solid;  border-right-width: 2px; border-bottom-width: 2px;   border-right-color: #000000; border-bottom-color: #000000;  text-align: center">
                                                                        @field.Value
                                                                    </td>

                                                                    count++;
                                                                }
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }
                        }

                        <tr style="font-size: 2em; height: 150px;">
                            <td style="font-size: 1.5em; border-right-style: solid; border-bottom-style: solid; border-right-width: 4px; border-bottom-width: 4px; border-right-color: #000000; border-bottom-color: #000000; text-align: center"
                                width="15%">
                                @Html.DisplayNameFor(model => model.Shift1Note)
                            </td>
                            <td colspan="7" align="left"
                                style="border-bottom-style: solid; border-bottom-width: 1px; border-right-style: solid; border-right-width: 1px; border-right-color: #000000; border-bottom-color: #000000">
                                @Model.Shift2Note
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table class="style1" style="table-layout:fixed;">
            <tr style="font-size:36px;">
                <td align="left">
                    工務組長：
                </td>
                <td align="left">
                    @Model.Leader
                </td>
                <td align="left">
                    單位主管：
                </td>
                <td align="left">
                    @Model.Manager
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
