@model IEnumerable<InspectSystem.Models.InspectDocDetail>

@{
    ViewBag.Title = "預覽";
    int iTabCount = 1;
    int iPanelCount = 1;
}

<script src="~/Scripts/ScrollToTop.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/MyStyles/MyDocEditStyle.css" />

<div class="container">
    @if (Model.Count() <= 0)
    {
        <p style="color:red">尚無資料!</p>
    }
    else
    {
        <h4>@ViewBag.AreaName</h4>

        if (!string.IsNullOrEmpty(ViewBag.Notes))
        {
            <div class="card border-success">
                <div class="card-header bg-success" style="color:white;">
                    <a data-toggle="collapse" data-target="#noteBlock" aria-expanded="true" aria-controls="noteBlock">
                        交班事項
                    </a>
                </div>
                <div id="noteBlock" class="collapse show">
                    <div class="card-body">
                        @Html.Raw(ViewBag.Notes.Replace(Environment.NewLine, "<br />"))
                    </div>
                </div>
            </div>
        }

        <ul class="nav nav-tabs">
            @foreach (var modelItem in Model)
            {
                string tabId = "shiftTab" + iTabCount;
                string panelHref = "#shiftPanel" + iTabCount;
                if (iTabCount == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="@panelHref" id="@tabId">@modelItem.ShiftName</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="@panelHref" id="@tabId">@modelItem.ShiftName</a>
                    </li>
                }
                iTabCount++;
            }
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#inspectDoc" id="inspectDocTab">案件資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#flowList" id="flowListTab">流程資訊</a>
            </li>
        </ul>

        <div class="tab-content">
            @foreach (var modelItem in Model)
            {
                string panelId = "shiftPanel" + iPanelCount;
                if (iPanelCount == 1)
                {
                    <div id="@panelId" class="container tab-pane fade show active">
                        <p>@Html.Action("GetShiftViews", "InspectDocDetail", new { docId = modelItem.DocId, shiftId = modelItem.ShiftId })</p>
                    </div>
                }
                else
                {
                    <div id="@panelId" class="container tab-pane fade">
                        <p>@Html.Action("GetShiftViews", "InspectDocDetail", new { docId = modelItem.DocId, shiftId = modelItem.ShiftId })</p>
                    </div>
                }
                iPanelCount++;
            }
            <div id="inspectDoc" class="container tab-pane fade">
                @Html.Action("Details", "InspectDocIdTable", new { id = Model.First().DocId })
            </div>
            <div id="flowList" class="container tab-pane fade">
                @Html.Action("FlowList", "InspectDocFlow", new { docId = Model.First().DocId })
            </div>
        </div>
    }
</div>

<button onclick="topFunction()" id="goToTopBtn" title="Go to top">回頁首</button>