@model IEnumerable<InspectSystem.Models.DEquipment.DEInspectClass>

<style>
    /* The canel button and message for sorting (Hidden by Default) */
    #sortBtnCanel, #sortMsg {
        display: none;
    }
</style>


<p>
    <a class="btn btn-primary" id="createBtn" href="@Url.Action("Create", new { areaId = ViewData["AId"], cycleId = ViewData["CYCId"] })">新增類別</a>
    <button class="btn btn-primary" id="sortBtn">排序</button>
    <button class="btn btn-info" id="sortBtnCanel">取消排序</button>
</p>

<table class="table table-hover" id="editTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DECyclesInAreas.DEInspectArea.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECyclesInAreas.DEInspectCycle.CycleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th>功能</th>
    </tr>

    <tbody id="sortItem">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DECyclesInAreas.DEInspectArea.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DECyclesInAreas.DEInspectCycle.CycleName)
                </td>
                <td style="max-width: 250px;">
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RtpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>
                @if (item.IsReport != "Y")
                {
                    <td>
                        <a class="btn btn-primary editBtn" href="@Url.Action("Edit", new { areaId = item.AreaId, cycleId = item.CycleId, classId = item.ClassId })">編輯</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

<div>
    <p style="color: red" id="sortMsg">*拖曳項目以排序</p>
</div>


<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () {

        var setOrderURL = '@Url.Action("SetClassOrder", "DEInspectClass", new { Area = "Admin" })';
        $("#sortBtn").click(function () {
            /* When sorting items, disable other buttons */
            $("#createBtn").addClass("disabled");
            $("#sortBtn").attr("disabled", true);
            $(".editBtn").addClass("disabled");

            $("#sortBtnCanel").show();
            $("#sortMsg").show();

            /* enable item sorting. */
            $("#sortItem").sortable({
                opacity: 0.6,
                cursor: 'move',
                axis: 'y',
                start: function (event, ui) {
                    var start_pos = ui.item.index();
                    //console.log("start_pos:" + start_pos); //For debug
                    ui.item.data('start_pos', start_pos);
                },
                update: function (event, ui) {
                    var oldIndex = ui.item.data('start_pos');
                    //console.log("old:" + oldIndex); //For debug
                    var newIndex = ui.item.index();
                    //console.log("new:" + newIndex); //For debug
                    $.ajax({
                        type: 'POST',
                        url: setOrderURL,
                        data: {
                            oldIndex: oldIndex + 1,
                            newIndex: newIndex + 1,
                            areaId: @ViewData["AId"],
                            cycleId: @ViewData["CYCId"],
                        },
                        success: function (result) {
                            $('#pnlClass').html(result);
                        },
                        error: function (msg) {
                            alert(msg);
                        }
                    });
                }
            });
            $("#editTable").disableSelection();
        });

        $("#sortBtnCanel").click(function () {
            $("#createBtn").removeClass('disabled');
            $("#sortBtn").attr("disabled", false);
            $(".editBtn").removeClass('disabled');
            $("#sortBtnCanel").hide();
            $("#sortMsg").hide();
        });
    });
</script>