@model InspectSystem.Models.DEquipment.DEInspectDocDetailVModel

<script src="~/Scripts/DEInspect/GetClassContentEdit.js"></script>
<link rel="stylesheet" href="~/Content/MyStyles/MyStyleForClassContent.css" />

<script>
    var urlCheckValue = '@Url.Action("CheckValue", "DEInspectDocDetail")'
    function showmsgSave(data) {
        if (data.success == true) {
            alert("儲存成功!");
            window.location.reload();
        }
        else {
            alert(data.error);
            $.Toast.hideToast();
        }
    }
</script>

@{
    var DocItems = Model.InspectItems;
    var DocFields = Model.InspectFields;
}

<h3 style="margin-top:0.5em">@ViewBag.ClassName</h3>
<hr />

@using (Ajax.BeginForm("TempSave", "DEInspectDocDetailTemp", new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "$.Toast.showToast({ 'title': '資料儲存中，請稍待...', 'icon': 'loading', 'duration': 0 })",
    OnSuccess = "showmsgSave"
}, new { id = "detailsForm" }))
{
    @Html.AntiForgeryToken()

    var currentItemName = "0";
    int i = 0, j = 0;
    <div class="container col-md-12">
        @foreach (var item in DocItems)
        {
            /* Display the ItemName when ItemName is not the same. */
            if (item.ItemName != currentItemName)
            {
                <div class="row itemRow">
                    <div class="col-md-2 itemName mainCol">
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </div>
                    <div class="col-md-6 mainCol">
                        @foreach (var fieldItem in DocFields)
                        {
                            /* Display all the FieldName belong the current Item. */
                            if (item.ItemId == fieldItem.ItemId)
                            {
                                <div class="col-md clearfix">
                                    <span class="col-xs-3 fieldTitle">
                                        @if (fieldItem.FieldName != null)
                                        {
                                            @Html.DisplayFor(modelItem => fieldItem.FieldName)
                                        }
                                    </span>

                                    @foreach (var docItem in Model.InspectDocDetailTemp)
                                    {
                                        /* Display textbox or checkbox for all fields, except boolean type. */
                                        if (docItem.ItemId == item.ItemId && docItem.FieldId == fieldItem.FieldId &&
                                            fieldItem.DataType != "boolean")
                                        {
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].DocId", docItem.DocId, new { id = "InspectDocDetailTemp[" + i + "].DocId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].AreaId", docItem.AreaId, new { id = "InspectDocDetailTemp[" + i + "].AreaId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].AreaName", docItem.AreaName)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].CycleId", docItem.CycleId, new { id = "InspectDocDetailTemp[" + i + "].CycleId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].CycleName", docItem.CycleName)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ClassId", docItem.ClassId, new { id = "InspectDocDetailTemp[" + i + "].ClassId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ClassName", docItem.ClassName)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ClassOrder", docItem.ClassOrder)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ItemId", docItem.ItemId, new { id = "InspectDocDetailTemp[" + i + "].ItemId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ItemName", docItem.ItemName)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].ItemOrder", docItem.ItemOrder)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].FieldId", docItem.FieldId, new { id = "InspectDocDetailTemp[" + i + "].FieldId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].FieldName", docItem.FieldName)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].DataType", docItem.DataType)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].UnitOfData", docItem.UnitOfData)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].MinValue", docItem.MinValue)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].MaxValue", docItem.MaxValue)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].IsRequired", docItem.IsRequired)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].IsFunctional", docItem.IsFunctional)
                                            @Html.Hidden("InspectDocDetailTemp[" + i + "].DropDownItems", docItem.DropDownItems)

                                            switch (fieldItem.DataType)
                                            {
                                                case "string":
                                                    <span>
                                                        @if (fieldItem.IsRequired == true)
                                                        {
                                                            <span style="color: red">*</span>
                                                        }
                                                        @Html.EditorFor(modelItem => docItem.Value, new { htmlAttributes = new { @Name = "InspectDocDetailTemp[" + i + "].Value", @class = "form-control" } })
                                                        @Html.ValidationMessage("InspectDocDetailTemp[" + i + "].Value", "", new { @class = "text-danger" })
                                                    </span>
                                                    break;

                                                case "float":
                                                    <span class="form-inline">
                                                        @if (fieldItem.IsRequired == true)
                                                        {
                                                            <span style="color: red">*</span>
                                                        }
                                                        @Html.EditorFor(modelItem => docItem.Value, new { htmlAttributes = new { @Name = "InspectDocDetailTemp[" + i + "].Value", @class = "inputValue form-control", id = i, type = "number", step = "0.0001" } })
                                                        @Html.DisplayFor(modelItem => fieldItem.UnitOfData)
                                                        @Html.ValidationMessage("InspectDocDetailTemp[" + i + "].Value", "", new { @class = "text-danger" })
                                                        <br /><span class="@i col-xs-offset-3"></span>
                                                        @*@if (fieldItem.ToShowPastValue() == true)
                                                            {
                                                                <span>昨日數值 : @fieldItem.PastValue()</span>
                                                            }*@
                                                    </span>
                                                    break;

                                                case "checkbox":
                                                    <span style="padding-left: 1em;">
                                                        @if (docItem.Value == "true")
                                                        {
                                                            @Html.CheckBox("InspectDocDetailTemp[" + i + "].Value", true)
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox("InspectDocDetailTemp[" + i + "].Value", false)
                                                        }
                                                    </span>
                                                    break;

                                                case "dropdownlist":
                                                    char[] charSpilt = new char[] { ';' };
                                                    string[] dropDownSpilt = docItem.DropDownItems.Split(charSpilt, StringSplitOptions.RemoveEmptyEntries);
                                                    List<SelectListItem> dropDownList = new List<SelectListItem>();
                                                    foreach (var searchItem in dropDownSpilt)
                                                    {
                                                        if (searchItem == docItem.Value)
                                                        {
                                                            dropDownList.Add(new SelectListItem()
                                                            {
                                                                Text = searchItem,
                                                                Value = searchItem,
                                                                Selected = true
                                                            });
                                                        }
                                                        else
                                                        {
                                                            dropDownList.Add(new SelectListItem()
                                                            {
                                                                Text = searchItem,
                                                                Value = searchItem
                                                            });
                                                        }
                                                    }
                                                    <span>
                                                        @Html.DropDownList("InspectDocDetailTemp[" + i + "].Value", (IEnumerable<SelectListItem>)dropDownList, new { @class = "form-control", style = "width: 50%" })
                                                    </span>
                                                    break;
                                            }
                                            i++;
                                        }
                                        else if (docItem.ItemId == item.ItemId && docItem.FieldId == fieldItem.FieldId &&
                                                 fieldItem.DataType == "boolean")
                                        {
                                            i++; // Skip an array space to let the boolean type insert later.
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-4">
                        @foreach (var fieldItem in DocFields)
                        {
                            /* Display all the FieldName belong the current Item. */
                            if (item.ItemId == fieldItem.ItemId)
                            {

                                foreach (var docItem in Model.InspectDocDetailTemp)
                                {
                                    /* Display textbox or checkbox for all fields. */
                                    if (docItem.ItemId == item.ItemId && docItem.FieldId == fieldItem.FieldId)
                                    {
                                        if (fieldItem.DataType == "boolean")
                                        {
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].DocId", docItem.DocId, new { id = "InspectDocDetailTemp[" + j + "].DocId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].AreaId", docItem.AreaId, new { id = "InspectDocDetailTemp[" + j + "].AreaId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].AreaName", docItem.AreaName)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].CycleId", docItem.CycleId, new { id = "InspectDocDetailTemp[" + j + "].CycleId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].CycleName", docItem.CycleName)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ClassId", docItem.ClassId, new { id = "InspectDocDetailTemp[" + j + "].ClassId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ClassName", docItem.ClassName)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ClassOrder", docItem.ClassOrder)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ItemId", docItem.ItemId, new { id = "InspectDocDetailTemp[" + j + "].ItemId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ItemName", docItem.ItemName)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].ItemOrder", docItem.ItemOrder)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].FieldId", docItem.FieldId, new { id = "InspectDocDetailTemp[" + j + "].FieldId" })
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].FieldName", docItem.FieldName)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].DataType", docItem.DataType)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].UnitOfData", docItem.UnitOfData)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].MinValue", docItem.MinValue)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].MaxValue", docItem.MaxValue)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].IsRequired", docItem.IsRequired)
                                            @Html.Hidden("InspectDocDetailTemp[" + j + "].DropDownItems", docItem.DropDownItems)
                                            <div class="col radioBtn">
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "合格", new { @Name = "InspectDocDetailTemp[" + j + "].IsFunctional" })合格
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "不合格", new { @Name = "InspectDocDetailTemp[" + j + "].IsFunctional" })不合格
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "已改善", new { @Name = "InspectDocDetailTemp[" + j + "].IsFunctional" })已改善
                                                @Html.RadioButtonFor(modelItem => docItem.IsFunctional, "N/A", new { @Name = "InspectDocDetailTemp[" + j + "].IsFunctional" })N/A
                                                @Html.ValidationMessage("InspectDocDetailTemp[" + j + "].IsFunctional", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col">
                                                @Html.LabelFor(modelItem => docItem.ErrorDescription)
                                                <br />
                                                @Html.TextAreaFor(modelItem => docItem.ErrorDescription, new { @Name = "InspectDocDetailTemp[" + j + "].ErrorDescription", rows = "3", id = "InspectDocDetailTemp[" + j + "].ErrorDescription", @class = "form-control" })
                                            </div>
                                        }
                                        j++;
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <hr />
            }
            else
            {
                currentItemName = item.ItemName;
            }
            int countFields = DocFields.Count();
            <input type="hidden" id="countFields" value="@countFields" />
        }
        <div class="text-center">
            <input class="btn btn-primary btn-lg" type="submit" value="暫時儲存" id="submitBtn" />
            <input class="btn btn-primary" type="submit" value="暫存" id="submitScrollBtn" />
        </div>
        <hr />
    </div>
}
