@model IEnumerable<InspectSystem.Models.ClassesOfAreas>

@Scripts.Render("~/bundles//jquery")
<script src="~/Scripts/InspectDocDetailsIndex.js"></script>
<link rel="stylesheet" href="~/Content/MobileStyle/MyStyleForDocDetail.css">

@{
    ViewBag.Title = "巡檢系統";

    /* Show alert message. */
    if (TempData["SaveMsg"] != null)
    {
        <script>
            var message = @Html.Raw(Json.Encode(TempData["SaveMsg"]));
            alert(message);
        </script>
    }
}

<h3 style="font-weight: bold" class="text-center">@ViewBag.AreaName</h3>
<hr />
<div class="container">
    <div class="tab">
        @foreach (var item in Model)
        {
            <button class="tablinks" onclick="openClassContent(event, '@item.ACID', '@ViewBag.DocID')" id="@item.ClassID">
                @if (item.IsSaved == true)
                {
                    <span class="glyphicon glyphicon-ok"></span>
                }
                @item.InspectClasses.ClassName
            </button>
        }
        <button class="tablinks" id="sendToChecker" value="@ViewBag.AllSaved">送出審核</button>
    </div>

    <div class="tabcontent" id="tabContent">
    </div>
</div>

<!--Modal for precautions of area.-->
<hr />
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#precautionModal">注意事項</button>

    <!-- Modal -->
    <div class="modal fade" id="precautionModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">注意事項</h2>
                </div>
                <div class="modal-body">
                    @Html.Action("AreaPrecautions", new { areaID = ViewBag.AreaID })
                </div>
                <div class="modal-footer">
                    <div style="text-align:center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#loadingModal" style="display:none" id="loadingBtn">注意事項</button>
    <!-- Loading Modal -->
    <div class="modal fade" id="loadingModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <!-- Loading image for Ajax. -->
                    <div id="loadingIMG" style="text-align: center">
                        <img src="~/Content/ajax-loader.gif" />資料讀取中，請稍後。
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
